body {
    font-family: Helvetica, sans-serif;
    background-color: rgb(233, 233, 233);
}

.important {
    color:red !important;
    font-weight: bold !important;
}

#header {
    color:white;
    background-color:rgba(0, 115, 230);
    text-align: center;
    padding:min(2%,15px);
}

p,h1 {
    margin:-1px;
}

#main-content {
   padding: left 50px;
}

h1 {
    color:inherit;
}

/* quiz section */
#quiz-section{
    background-color: rgb(204, 251, 251);
    border: 1px solid rgb(212, 212, 212);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top:20px;
    margin-bottom:20px;
}

#quiz-section div {
    margin:10px;
}

label {
    padding-bottom: 2px;
}

img {
    border: 4px solid purple;
    margin: 2%;
    align-self:center;
}


/* species table */
table {
    border:1px solid lightgray;
    margin-bottom: 30px;
}

td, th{
    border:1px solid black;
    text-align: left;
    padding: 6px;
    font-size: small;
}

th {
    color:white;
    background-color: gray;
}

/*footer*/
#footer {
    padding: 2%;
    background-color: lightgray;
    text-align: center;
}